<p id="notice"><%= notice %></p>

<p>
  <b>Name:</b>
  <%= @outfit.name %>
</p>

<p>
  <b>Description:</b>
  <%= @outfit.description %>
</p>

<%= image_tag @outfit.photo.url %>

<%= link_to 'Edit', edit_outfit_path(@outfit) %> |
<%= link_to 'Back', outfits_path %>
