<p id="notice"><%= notice %></p>

<p>
  <b>Outfit:</b>
  <%= @piece.outfit_id %>
</p>

<p>
  <b>Element:</b>
  <%= @piece.element_id %>
</p>


<%= link_to 'Edit', edit_piece_path(@piece) %> |
<%= link_to 'Back', pieces_path %>
